.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe244d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-nfo-links a {
  text-decoration: none;
  color: #222222;
}

.f-nfo-links a:hover {
  text-decoration: underline;
}
